html,
body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.logo {
  grid-column: 2;
  max-height: 4em;
}

main {
  background-color: #e4e4e4;
}

.container {
  padding: 1em;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 400px;
}

.content img {
  width: 100%;
}

.profile-image {
  max-width: 3em;
  float: left;
  clip-path: circle();
}

.post {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}

.padding {
  padding: 0.5em;
  margin: 0px;
}

.margin-right {
  margin-right: 0.5em;
}

.header {
  display: flex;
  place-items: center;
}

.like-button {
  height: 3em;
  border: none;
  background-color: transparent;
}
